{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<nav id="top-navigation" class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Navegação</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" onclick="goToCard('home');">Stig</a>
		</div>

		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#card-home" onclick="goToCard('home');">Início</a></li>
				<li><a href="#card-about" onclick="goToCard('about');">Como funciona</a></li>
				<li><a href="#card-contact" onclick="goToCard('contact');">Contato</a></li>
			</ul>
		</div>
	</div>
</nav>

<div id="card-home">
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<h1 style="display: none;">Stig</h1>
				<p class="sr-only">Saia para o lugar certo!</p>
				<img src="{% static 'images/stig-logo.png' %}" alt="Stig" class="img-responsive" />

				<div id="take-action">
					<p class="lead">Que tal sair sempre para o lugar certo? Saber sobre <strong>filas</strong>, <strong>preços</strong>, e mais? O <span class="stig">Stig</span> te ajuda!</p>
					<p><button type="button" class="btn btn-primary btn-lg" data-toggle="modal" href="#take-action-modal" onclick="trackIWant();">Eu quero!</button> &nbsp; <button type="button" class="btn btn-default btn-lg" onclick="goToCard('about');">Saiba mais</button> &nbsp; <button type="button" class="btn btn-default btn-lg" onclick="goToCard('contact');">Entre em contato</button></p>

					
					<div class="fb-like" data-colorscheme="light" data-href="https://www.facebook.com/stigapp" data-width="300" data-show-faces="true" data-send="false"></div>
				
				</div>
			</div>
			<div class="col-md-5">
				<h2 class="visible-sm">Demonstração</h2>
				<div class="iphone">
					<div id="iphone-carousel" class="carousel slide">
						<ol class="carousel-indicators">
							<li data-target="#iphone-carousel" data-slide-to="0" class="active"></li>
							<li data-target="#iphone-carousel" data-slide-to="1"></li>
							<li data-target="#iphone-carousel" data-slide-to="2"></li>
							<li data-target="#iphone-carousel" data-slide-to="3"></li>
						</ol>

						<div class="carousel-inner">
							<div class="item active">
								<img src="{% static 'images/screenshots/map1.jpg' %}" alt="Stig" class="screen" />
							</div>
							<div class="item">
								<img src="{% static 'images/screenshots/map2.jpg' %}" alt="Stig" class="screen" />
							</div>
							<div class="item">
								<img src="{% static 'images/screenshots/place1.jpg' %}" alt="Stig" class="screen" />
							</div>
							<div class="item">
								<img src="{% static 'images/screenshots/comment1.jpg' %}" alt="Stig" class="screen" />
							</div>
						</div>

						<!--
						<a class="left carousel-control" href="#iphone-carousel" data-slide="prev">
						    <span class="icon-prev"></span>
						</a>

						<a class="right carousel-control" href="#iphone-carousel" data-slide="next">
						    <span class="icon-next"></span>
						</a>
						-->
					</div>
				</div>
			</div>
			<!-- <div class="col-sm-4">
				<div class="hidden-xs">
					<div class="fb-like-box pull-right" data-href="https://www.facebook.com/stigapp" data-width="250" data-height="400" data-show-faces="true" data-colorscheme="light" data-header="true" data-stream="true" data-show-border="false"></div>
				</div>
				<div class="visible-xs">
					<div class="fb-like" data-colorscheme="light" data-href="https://www.facebook.com/stigapp" data-width="300" data-show-faces="true" data-send="false"></div>
				</div>
			</div> -->
		</div>
	</div>
</div>

<div id="card-about">
	<div class="container">
		{% verbatim %}
		<div id="comment" ng-controller="CommentCtrl">
			<h2>Como funciona?</h2>
			<p class="lead">O <span class="stig">Stig</span> te dá <strong>informações em tempo real</strong> sobre os locais para sair à noite, com comentários de pessoas como você! Assim, você pode saber informações sobre:</p>
			
			<div class="row comment-explanation">
				<div class="col-md-2 col-sm-4 col-xs-6"><span class="sticker sticker-money"></span><br />Preço</div>
				<div class="col-md-2 col-sm-4 col-xs-6"><span class="sticker sticker-queue"></span><br />Fila</div>
				<div class="col-md-2 col-sm-4 col-xs-6"><span class="sticker sticker-accessibility"></span><br />Acessibilidade</div>
				<div class="col-md-2 col-sm-4 col-xs-6"><span class="sticker sticker-food"></span><br />Bebida</div>
				<div class="col-md-2 col-sm-4 col-xs-6"><span class="sticker sticker-music"></span><br />Música</div>
				<div class="col-md-2 col-sm-4 col-xs-6"><span class="sticker sticker-people"></span><br />Pessoas</div>
			</div>

			<h3>Tipo assim:</h3>
			<div class="row">
				<div class="col-md-6">
					<div class="well">
						<div class="media">
							<div class="pull-left">
								<div class="media-object photo">
									<img class="photo" src="{{comment.photo}}" alt="{{comment.name}}" onerror="avatarError(this);" />
								</div>
								<p class="comment-stickers">
									<span ng-repeat="sticker in comment.stickers"><span class="sticker sticker-{{sticker.name}} sticker-{{sticker.modifier}}"></span></span>
								</p>
							</div>

							<div class="media-body">
								<h4 class="media-heading">{{comment.name}} &nbsp;&rsaquo;&nbsp; {{comment.place}}</h4>
								<blockquote><p>{{comment.comment}}</p></blockquote>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<p class="text-muted">As informações acima foram postadas por usuários de testes do <span class="stig">Stig</span> e podem não refletir a opinião dos criadores.</p>
		{% endverbatim %}
	</div>
</div>

<div id="card-contact">
	<div class="container">
		<h2>Entre em contato!</h2>
		<p class="lead">Quer conversar com a galera que faz o <span class="stig">Stig</span>? Manda um email para a gente!</p>
		<p><a href="mailto:contact@stigapp.co" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-envelope"></span> contact@stigapp.co</a></p>
	</div>
</div>

<div class="modal fade" id="take-action-modal" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h2 class="modal-title">O <span class="stig">Stig</span> está chegando!</h2>
			</div>
			<div class="modal-body">
				<div class="first">
					<p>Em alguns dias, o <span class="stig">Stig</span> estará disponível para baixar. Deixe seu email abaixo e vamos te deixar por dentro do lançamento!</p>
					<form action="#" role="form">
						<div class="form-group" id="take-action-email-group">
							<label for="take-action-email">Seu email</label>
							<div class="input-group">
								<span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
								<input type="email" class="form-control input-lg" id="take-action-email" placeholder="joao@stigapp.co" required="required" />
								<span class="input-group-btn"><button class="btn btn-primary btn-lg" type="button" onclick="saveContact();">Manda!</button></span>
							</div>
						</div>
					</form>
				</div>
				<div class="second">
					<p style="text-align: center"><img src="{% static 'images/loader.gif' %}" alt="Loading…" /></p>
				</div>
				<div class="third">
					<p class="lead"><strong>Pronto!</strong> Assim que tivermos novidades do <span class="stig">Stig</span>, você será o primeiro a saber.</p>

					<button type="button" class="btn btn-primary" onclick="resetContactModal();">Cadastrar outro email</button>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
function avatarError (image) {
	image.src = "{% static 'images/no-avatar.jpg' %}";
	// image.onerror = '';
}

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

var csrftoken;
var fadeTime = 500;

function resetContactModal () {
	$('#take-action-email').val('');
	$('take-action-email-group').removeClass('has-error');

	$('#take-action-modal .second').fadeOut(fadeTime);
	$('#take-action-modal .third').fadeOut(fadeTime);

	setTimeout(function () {
		$('#take-action-modal .first').fadeIn(fadeTime);
	}, fadeTime+10);
}

function saveContact () {
	ga('send', 'event', 'save-contact', 'click', 'take-action');

	email = $('#take-action-email').val();
	if (email == '') {
		$('#take-action-email-group').addClass('has-error');
		return;
	}
	$.ajax('{% url 'home_save_contact' %}', {
		data: {
			email: email,
			csrfmiddlewaretoken: '{{ csrf_token }}',
		},
		type: 'POST',
		success: function (data, jqXHR) {
			setTimeout(function () {
				data = JSON.parse(data);
				if (data['error'] != undefined) {
					var msg = '';
					if (data['internal_code'] == 1) {
						msg = 'Esse email já está cadastrado ou é inválido.';
					} else {
						msg = 'Esse email é inválido.';
					}

					alert(msg);
					
					resetContactModal();
					return;
				}

				ga('send', 'event', 'save-contact', 'success', 'take-action');

				$('#take-action-modal .first').hide();
				$('#take-action-modal .second').fadeOut(fadeTime);
				setTimeout(function () {
					$('#take-action-modal .third').fadeIn(fadeTime);
				},fadeTime+10);
			},2000);
			console.log(data);
		},
		error: function (jqXHR, textStatus, errorThrown) {
			alert('Um erro aconteceu!');
			console.log(jqXHR);
			console.log(textStatus);
			console.log(errorThrown);

			resetContactModal();
		},
		beforeSend: function (xhr, settings) {
			$('#take-action-modal .first').fadeOut(fadeTime);
			setTimeout(function () {
				$('#take-action-modal .second').fadeIn(fadeTime);
			}, fadeTime+10);
			
			$('#take-action-modal .third').hide();
		}
	});
}
var cards = [
	'home',
	'about',
	'contact',
];

function resizeCards () {
	var windowHeight = $(window).height();
	for (var i = cards.length - 1; i >= 0; i--) {
		var cardHeigth = $('#card-' + cards[i]).height();

		$('#card-' + cards[i]).css('min-height', 0);

		var cardPadding = Math.max(0, (windowHeight - cardHeigth) / 2);
		// $('#card-' + cards[i]).css('min-height', windowHeight);
		// console.log(cardPadding);

		$('#card-' + cards[i]).css('padding-top', cardPadding);
		$('#card-' + cards[i]).css('padding-bottom', cardPadding);
	};
}

function goToCard (card) {
	$.scrollTo($('#card-' + card), 500);
}

function csrfSafeMethod(method) {
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

function sameOrigin(url) {
    var host = document.location.host; // host + port
    var protocol = document.location.protocol;
    var sr_origin = '//' + host;
    var origin = protocol + sr_origin;
    return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
        (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
        !(/^(\/\/|http:|https:).*/.test(url));
}

$(document).ready(function () {
	csrftoken = getCookie('csrftoken');


	$(window).resize(function () {
		resizeCards();
	});

	resizeCards();

	$('[data-spy="scroll"]').each(function () {
	  var $spy = $(this).scrollspy('refresh')
	});
});

function trackIWant () {
	ga('send', 'event', 'i-want-button', 'click', 'take-action');
}
</script>
{% endblock %}